
body {
    background-color: #f2ff8a;
    margin: 0px;
}

.main-container {
    border: 10px outset #9baade;    
    background-color: white;
    width: 75%;
    margin:auto;
    font-family: 'Nunito', sans-serif;
}

.header-container {
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 1px;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: auto;
}

a {
    margin: auto;
}

main {
    margin: 5px 60px;
}

.section-container {
    margin-left: 20px;
}

.section-container > .subtitle {
    font-weight: bold;
    font-size: 16px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: black;
}

footer {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.subtitle-flex {
    display: inline-flex
}

address {
    margin-right: 5px;
}

.journey {
    margin-left: 5px;
}

img {
    width: 100%;
}

nav > a {
    align-items: center;
    display: flex;
}
nav > a > img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.printer {
    cursor: pointer;
    position: fixed;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
    background-color: white;
    padding: 5px 13px;
    border-radius: 5px;
}

@media (max-width: 500px) {
    .main-container {
        width: 100%;
    }

    nav > a > img {
        width: 40px;
        height: 40px;
    }

    nav > a > span {
        display: none;
    }

    main {
        margin: 5px 15px;
    }
    
}

@media (min-width: 501px) and (max-width: 990px) {
    .main-container {
        width: 90%;
    }

    main {
        margin: 5px 40px;
    }

    nav > a > img {
        width: 30px;
        height: 30px;
    }

    nav > a > span {
        font-size: 12px;
    }
}
 